# Virtual environment
venv/

# Python compiled files
__pycache__/
*.pyc

# Log files
*.log
password_history.txt

# Secret keys and configurations
secret.key
secrets.toml
.streamlit/secrets.toml

# IDE/editor specific files
.vscode/
.idea/
*.swp

.streamlit/


test_all.py
test_password_checker.py